@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.div_pesquisa{
    text-align: center;
    padding: 0 0 2em 0;
}

.pesquisa_input{
    text-align: center;
    line-height: 3em;
    max-width: 80%;
    width: 30em;
    color: #666;
}

.header{
    background-color: #c65f5f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p{
    padding: 0 2rem 0 2rem;
    font-weight: bold;
}

.header button{
    padding: 0 2rem 0 2rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0 2rem;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px; 
    max-width: 1200px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 500px;
    padding: 2em;
    margin: 0 auto; 
}

#btn_fem, #btn_masc, #btn_all{
    background-color: black;
    border: medium;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.3em;
    max-width: 6em;
}

.div_dropdown{
    justify-content: center;

}

#dropdown_btn {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: center;
    padding: 2em 3em;
    width: 15em;
    margin: 2em auto 0 auto
}

.dropdown_btn:hover {
    background: #444;
}

/*=================== Card ====================== */

.card{
    display: flex;
    flex-direction: column;
    /*grid-column: span 1;*/
    align-items: center;
    justify-content: center;
    width: 250px;
    flex-shrink: 0;
    cursor: pointer;
    /*min-width: 100px;*/
    height: 500px;
    border: solid;
    padding: .3rem;
    margin: 10px;
    /*grid-template-areas: 
    "a1 a2"
    "a1 a3"
    "a4 a4"
    "a5 a5"*/
    ;
}

.img_container{
    width: 220px;
    object-fit: none;
    height: 300px;
    object-position: 100% 10%;
}

.img_atleta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.posicao{
    display: block;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #000000;
    color: #666;
    width: 100%;
}

.nome_atleta{
    display: block;
    grid-area: a3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    place-content: center;
    flex-direction: column;
}

.btn_detalhes{
    background-color: #f8c600;
    text-transform: uppercase;
    display: block;
    width: 100%;
    grid-column: 1 / -1;
}

.detalhes_atleta{
    grid-area: a4;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nascimento_atleta{
    grid-area: a5;
}

#dropdown_btn{
    padding: 14px 20px;
}

/* ================= Página Index/Inicio ================ */

.index{
    background-color: #000000;
}

.container_inicio{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2rem;
 
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container_escudo{
    display: flex;
    width: 100px;
}

.container_escudo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msg_inicio{
    text-align: center;
}

.msg_inicio h1{
    font-family: Aleo;
    justify-self: center;
}

.msg_inicio h3{
    font-size: 12px;
    justify-self: center;
}

.div_senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#mensagem{
    font-size: 12px;
    font-weight: bold;
}

/* ====================== Media Queries ========================= */
/* até 768px */
@media screen and (max-width: 768px){
    .conteudo {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn_elenco{
        display: none;
    }

    #dropdown_btn{
        display: flex;
    }

    .container_inicio{
        flex-direction: column;
    }

}


/* até 1024px */
@media screen and (min-width:769px) and (max-width: 1024px) {
    .conteudo {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn_elenco{
        display: flex;
    }

    #dropdown_btn{
        display: none;
    }

    .container_inicio{
        flex-direction: row;
        margin: 25vh 0 0 0;  
    }

   }
   
   
   /* após 1024px */
   @media (min-width: 1025px) {
    .conteudo {
        grid-template-columns: repeat(4, 1fr);
    }

    .btn_elenco{
        display: flex;
    }

    #dropdown_btn{
        display: none;
    }

    .container_inicio{
        flex-direction: row;
        margin: 25vh 0 0 0;  
    }
   }